
nav{
    background-color: rgb(222, 83, 83);
}
.barra ul li{
    list-style: none;
    display: inline;
    padding: 0px 5px;
}
.barra a{
    text-decoration: none;
    color: black;
}
.barra a:hover{
    color: #333;
}
main{
    background-image: url(media/recepcion.jpg);
    height: 650px;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burbuja{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border: 5px solid  rgba(178, 34, 34, 0.669);
    border-radius: 7px;
}
h1{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #333;
}
.burbuja p{
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
}
.burbuja a{
    background-color:  #b22222ab;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
}
.burbuja a:hover{
    background-color: gray;
}
h2{
    text-align: center;
    background-color: springgreen;
    padding: 20px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 35px;
}
.nuestro{
    display: flex;
    background-color: rgba(255, 255, 255, 0.543);
}
.resta{
    background-image: url(media/rece1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 100%;
}
.restaright{
    padding: 30px;
    width: 100%;
    height: auto;
}
.restaright p{
    font-size: 15px;
    text-align: right;
}
h2{
    text-align: center;
    background-color: #b22222ab;
    color: white;
    padding: 30px;
}
.img1{
    background-image: url(media/persona.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}
.card-body{
    background-color: #b22222ab;
}
h2{
    font-size: 25px;
    font: bolder;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
